<!-- Renders an item of the navbar inside the template -->
{% macro table_schema_info(info) %} {% for item in info %}
<div class="my-1 ml-2 mr-1 flex items-center justify-between text-gray-400 text-sm">
  <p>{{ item.name }}</p>
  <p>{{ item.type.upper() }}</p>
</div>
{% endfor %} {% endmacro %}

<!-- Renders the navbar with the table schema inside the template -->
{% macro table_schema(schema) %}
<li>
  <details class="mb-2 outline-none">
    <summary class="
        pl-2
        mb-1
        flex
        items-center
        justify-between
        rounded
        transition
        hover:bg-[#323232]
      ">
      <span>{{ schema.name }}</span>
      <a class="
          py-1
          px-2
          bg-yellow-400
          text-xs
          text-black
          rounded
          transition
          hover:brightness-75
        " href="{{ '/tables/' + schema.name }}">Open
      </a>
    </summary>
    <div class="border-l border-[#323232] ml-2">
      {{ table_schema_info(schema.schema) }}
    </div>
  </details>
</li>
{% endmacro %} {% macro sql_editor() %}
<form class="w-full h-[50vh] border-b border-[#323232] relative" method="POST">
  <button type="button" class="
      absolute
      top-0
      right-0
      py-2
      px-4
      bg-yellow-400
      text-black
      rounded-bl-lg
      z-50
      transition
      hover:brightness-90
    " onclick="handleQueryClick()">
    Execute
  </button>
  <textarea name="query"></textarea>
</form>
{% endmacro %}


{% macro database_navbar(database_schema, tablename = "Editor") %}
<nav class="flex flex-col px-4 py-8 w-96 border-r border-[#323232] h-screen overflow-auto">
  <h2 class="text-4xl font-bold tracking-tighter text-yellow-400 uppercase">
    {{ tablename }}
  </h2>
  <button
    class="py-1 mt-8 mb-4 font-bold tracking-tighter text-center text-[#121212] bg-yellow-400 rounded hover:brightness-90">
    <a href="/editor">Editor</a>
  </button>
  <h3 class="my-4 text-2xl font-bold tracking-tighter">Entities</h3>
  <ul class="w-full">
    {% for schema in database_schema %}
    {{ table_schema(schema) }}
    {% endfor %}
  </ul>
</nav>
{% endmacro %}
