{% from "_macros.html" import database_navbar, sql_editor, table_view %}


{% extends "base.html" %}
{% block title %}
SQL Viewer | Title
{% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.63.3/mode/sql/sql.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.63.3/keymap/sublime.js"></script>
{% endblock head %}

{% block content %}
<main class="flex h-screen">
  {{ database_navbar(database_schema) }}
  <div class="w-[calc(100vw-24rem)] overflow-auto flex flex-col">
    {{ sql_editor() }}
    {% if entries %}
    {{ table_view(entries, "small") }}
    {% else %}
    <div class="h-[40vh] bg-[#121212] flex items-center justify-center">
      <h3 class="text-2xl text-[#565656] tracking-tighter text-center">Write your query in the editor to get a view of
        the
        results
      </h3>
    </div>
    {% endif %}
  </div>
</main>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/static/js/table.js"></script>
{% endblock %}
