{# Macros #}
{% from "_macros.html" import table_schema, sql_editor %}

{# Base template #}
{% extends "base.html" %}

{# Body #}
{% block title %}
SQL Viewer | {{ tablename }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.63.3/mode/sql/sql.js"></script>
{% endblock %}

{% block content %}
<main class="flex h-screen-900">
  <nav class="px-4 py-8 w-96 border-r border-[#323232] h-screen overflow-auto">
    <h2 class="text-4xl font-bold tracking-tighter text-yellow-400 uppercase">
      {{ tablename }}
    </h2>
    <h3 class="mt-4 mb-4 text-2xl font-bold tracking-tighter">Entities</h3>
    <ul class="w-full">
      {% for schema in database_schema %}
      {{ table_schema(schema) }}
      {% endfor %}
    </ul>
  </nav>
  <div class="w-[calc(100vw-24rem)] overflow-auto flex flex-col">
    {{ sql_editor() }}
    <div class="h-[50vh] overflow-auto">
      <table class="w-full text-sm relative">
        <thead class="border-b border-[#323232] sticky top-0">
          <tr class="bg-[#121212] text-left">
            {% for column_data in schema %}
            <th class="py-2 px-4 transition hover:bg-[#323232]">
              {{ column_data.column }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item in entries %}
          <tr class="{{ 'bg-[#161616]' if loop.index0 % 2 == 0 else 'bg-[#121212]' }} transition hover:bg-[#323232]">
            {% for value in item.values() %}
            <td class="py-2 px-4 truncate">{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/table.js"></script>
{% endblock %}