:root {
  --black-900: #121212;
  --black-800: #202020;
  --black-700: #323232;
  --black-600: #404040;
}

.bg-black-900 {
  background: var(--black-900);
}

.bg-black-800 {
  background: var(--black-800);
}

details {
  user-select: none;
}

details summary div > svg {
  transform: rotate(0);
}

details[open] summary div > svg {
  transform: rotate(90deg);
}

summary {
  cursor: pointer;
}
svg {
  transition: all 0.3s;
}

summary::-webkit-details-marker {
  display: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--black-900);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background: var(--black-700);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black-600);
}

::-webkit-scrollbar-corner {
  background: var(--black-900);
}
