<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL Viewer | {{ tablename }}</title>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css"
    />
    <link rel="stylesheet" href="/static/css/codemirror.css" />
    <script type="text/javascript" src="https://cdn-tailwindcss.vercel.app/3.0.0-alpha.1"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/codemirror@5.63.3/mode/sql/sql.js"></script>
  </head>
  <body class="bg-black-800 text-gray-100">
    <main class="flex h-screen-900">
      <nav
        class="px-4 py-8 w-96 border-r border-[#323232] h-screen overflow-auto"
      >
        <h2 class="text-4xl font-bold tracking-tighter text-yellow-400">
          {{ tablename }}
        </h2>
        <h3 class="mt-4 mb-4 text-2xl font-bold tracking-tighter">Entities</h3>
        <ul class="w-full">
          {% for schema in database_schema %}
          <details class="mb-4 outline-none">
            <summary
              class="
                pl-2
                mb-2
                flex
                items-center
                justify-between
                rounded
                transition
                hover:bg-[#323232]
              "
            >
              <span>{{ schema['table'] }}</span>
              <a
                class="
                  py-1
                  px-2
                  bg-yellow-400
                  text-sm text-black
                  rounded
                  transition
                  hover:brightness-75
                "
                href="{{ '/tables/' + schema['table'] }}"
                >Open
                </a
              >
            </summary>
            {% for item in schema['schema'] %}
            <div
              class="
                my-1
                mx-2
                flex
                items-center
                justify-between
                text-gray-400 text-sm
              "
            >
              <p>{{ item.column }}</p>
              <p>{{item.type.upper() }}</p>
            </div>
            {% endfor %}
          </details>
          {% endfor %}
        </ul>
      </nav>
      <div class="w-[calc(100vw-24rem)] overflow-auto flex flex-col">
        <form class="w-full h-[50vh] border-b border-[#323232] relative" action="{{ '/tables/' + tablename }}" method="POST">
          <button type="button" class="absolute top-0 right-0 py-2 px-4 bg-yellow-400 text-black rounded-bl-lg z-50 transition hover:brightness-90" onclick="handleQueryClick()">Execute</button>
          <textarea name="query"></textarea>
        </form>
        <div class="h-[50vh] overflow-auto">
          <table class="w-full text-sm relative">
            <thead class="border-b border-[#323232] sticky top-0">
              <tr class="bg-[#121212] text-left">
                {% for column_data in schema %}
                <th class="py-2 px-4 transition hover:bg-[#323232]">
                  {{ column_data.column }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in entries %}
              <tr
                class="{{ 'bg-[#161616]' if loop.index0 % 2 == 0 else 'bg-[#121212]' }} transition hover:bg-[#323232]"
              >
                {% for value in item.values() %}
                <td class="py-2 px-4 truncate">{{ value }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>

  </body>
  <script type="text/javascript">
    function handleQueryClick() {
      const query = localStorage.getItem("sql-viewer:document") || ""
      postForm({
        location: '/tables/Products',
        parameters: [
          {
            name: 'query',
            value: query,
          }
        ]
      })
    }

    function postForm({ location, parameters, method = 'post' }) {
      const form = document.createElement('form')
      form.method = method
      form.action = location
    
      for (const { name, value } of parameters) {
        const hiddenField = document.createElement('input')

        hiddenField.type = 'hidden'
        hiddenField.name = name
        hiddenField.value = value

        console.log(hiddenField)
  
        form.appendChild(hiddenField)
      }
    
      document.body.appendChild(form)
      console.log(form)
      setTimeout(() => form.submit(), 100)
    }

    const editor = CodeMirror.fromTextArea(document.querySelector('textarea'), {
      lineNumbers: true,
      height: '100%',
      mode: 'sql',
      theme: 'dracula',
    })

    editor.setValue(localStorage.getItem("sql-viewer:document") || "")

    editor.on("change", (editor) => {
      const line = editor.doc.children[0].lines.map(line => line.text).join('\n')
      localStorage.setItem("sql-viewer:document", line)
    })
  </script>
</html>
